= semantic_form_for [homework, approval] do |f|
  = f.input :rating, as: :select, label: 'Que calificación le das al Consultor? 0 siendo pesimo y 5 siendo excelente'
  = f.input :comment, input_html: { rows: 5 }, label: 'Que calificación obtuviste? Dejanós algun comentario'
  = f.actions do
    = f.action :submit, button_html: { value: 'Subir Tarea' }
