#sessions{class: "background #{random_background} medium_height"}
  .container.vertical-align.sign_up
    .row.homeworks-container
      .col-md-7.col-md-push-3.form.payment_methods.text-center
        = render 'form'
        = link_to 'Atras', homework
