#onboarding{class: "background #{random_background}"}
  .container.vertical-align
    = render 'shared/flash'
    .row
      .col-md-6.col-md-push-3.form.text-center
        %h1= I18n.t('app.consultor_onboarding.step_4_title')
        %h4
          Felicidades, has completado tu registro, espera un correo de nosotros
          cuando puedas usar nuestra plataforma!
          Estate al pendiente!
