#onboarding{class: "background #{random_background}"}
  .container.vertical-align
    .row
      .col-md-6.col-md-push-3.form.text-center
        %h1= I18n.t('app.consultor_onboarding.step_1_title')

        %h4
          Primero Necesitamos hacer un proceso de verificación de documentos para asegurarnos que
          eres apto para poder hacer tareas y ganar Dinero.
        %br
        = link_to 'Siguiente', second_step_consultor_onboarding_index_path, class: 'col-md-12 estudex-button'
