#onboarding{class: "background #{random_background}"}
  .container.vertical-align
    = render 'shared/flash'
    .row
      .col-md-6.col-md-push-3.form.text-center
        %h1= I18n.t('app.consultor_onboarding.step_2_title')
        %h4
          Necesitaremos que compartas 2 documentos de identificación (IFE, Licencia de Conducir) para verificar tu identidad,
        %br
        %h5
          Tranquilo, abajo puedes encontrar nuestra politica de privacidad, nos comprometemos a nunca compartir tus datos
          a NINGUN tercero.
        %br
        = semantic_form_for Onboarding.new, url: consultor_onboarding_path(current_user.id), method: :put, html: { novalidate: false } do |f|
          = f.input :multiple_documents, as: :file, label: 'Selecciona los documentos', input_html: { required: true, multiple: true }
          = f.actions do
            = f.action :submit, button_html: { value: 'Subir documentos' }
            = f.action :cancel, label: 'Regresar'
