#onboarding{class: "background #{random_background} expanded"}
  .container.vertical-align
    = render 'shared/flash'
    .row
      .col-md-6.col-md-push-3.form.text-center
        %h2= I18n.t('app.consultor_onboarding.step_3_title')
        %h4
          Por ultimo necesitaremos unos cuantos datos para que podamos transferirte
          el dinero que generes haciendo Tareas.
        %br
        %br
        = semantic_form_for account, url: add_accounts_consultor_onboarding_path('3') do |f|
          = f.input :number
          = f.input :clabe
          = f.input :bank
          = f.input :name
          = f.actions do
            = f.submit 'Agregar cuenta'
            = f.action :cancel, label: 'Regresar'
