- if message.homework.user_id == message.user_id
  .from-me-side.sides
    - if message.request.messages.index(message) == 0 || message.request.messages[message.request.messages.index(message) - 1].user != message.user
      .d-inline-flex
        .p-2.align-self-center
          %h5= message.user.username
        .p-2
          .prof-pic{style: "background-image: url(#{message.user.avatar})"}
      %br
      %br
    .message-bubble.from-me.clear
      = message.message
    %p.clear
      = time_ago_in_words(message.created_at)
      ago
    %br
- else
  %div{class: "sides"}
    - if message.request.messages.index(message) == 0 || message.request.messages[message.request.messages.index(message) - 1].user != message.user
      .d-inline-flex
        .p-2
          .prof-pic{style: "background-image: url(#{message.user.avatar})"}
        .p-2.align-self-center
          %h5= message.user.username
      %br
    -# - if message.user.role != "admin"
      -# link_to "Mark Unread", profile_path(@profile.id, param1: 'value1', param2: 'value2'), method: post
    %div{class: "message-bubble #{'from-them'} clear" }
      = message.message
    %p.clear
      = time_ago_in_words(message.created_at)
      ago
