%h1 Listing messages

%table
  %thead
    %tr
      %th Message
      %th Request
      %th User
      %th
      %th
      %th

  %tbody
    - @messages.each do |message|
      %tr
        %td= message.message
        %td= message.request
        %td= message.user
        %td= link_to 'Show', message
        %td= link_to 'Edit', edit_message_path(message)
        %td= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Message', new_message_path
