#sessions{class: "background #{random_background}"}
  .container.vertical-align.sign_up
    = render 'shared/flash'
    .row
      .col-md-4.col-md-push-4.form.text-center
        %logo
          = image_tag 'estudex_logo.png'
          %h1 Sign in
          %p
            Aun no te unes?
            = link_to 'Registrate', choose_registration_path
        %hr
        .social_links
          = link_to user_facebook_omniauth_authorize_path, class: 'facebook-button' do
            = image_tag 'icons/facebook.png'
            Ingresa con Facebook
          %br
          %hr
        = semantic_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.input :email
          = f.input :password
          - if devise_mapping.rememberable?
            = f.input :remember_me, as: :boolean
          .actions
            = f.submit 'Login'
        = render "users/shared/links"
