#sessions{class: "background #{random_background}"}
  .container.vertical-align.sign_up
    .row
      .col-md-4.col-md-push-4.form.text-center
        %logo
          = image_tag 'estudex_logo.png'
          %h1 Cuentanos mas de ti
          %h3 Quieres que hagamos tu tarea o quieres hacer dinero?
        %hr
        .social_links
          = link_to new_user_registration_path(consultor: false), class: 'facebook-button blue' do
            Quiero que Hagan mi Tarea
          %br
        %hr
        .social_links
          = link_to new_user_registration_path(consultor: true), class: 'facebook-button green' do
            Quiero Hacer Tareas y Ganar Dinero
