#onboarding{class: "background #{random_background}"}
  .container.vertical-align.sign_up
    .row
      .col-md-6.col-md-push-3.form.text-center
        %h1= I18n.t('app.consultor_onboarding.step_2_title')
