.links
  - if controller_name != 'sessions'
    = link_to I18n.t('app.sessions.login'), new_session_path(resource_name)
    %br/
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to I18n.t('app.sessions.forgot_password'), new_password_path(resource_name)
    %br/
  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    = link_to I18n.t('app.sessions.didnt_receive_instructions'), new_confirmation_path(resource_name)
    %br/
  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    = link_to I18n.t('app.sessions.didnt_receive_unlock'), new_unlock_path(resource_name)
    %br/
