/ Start Footer
%footer#footer.footer.style-1.dark
  %a{:href => "index.html.haml"}
    %img.mr-auto.img-responsive{:alt => "#", :src => "img/assets/footer-logo.png"}/
  %ul
    %li
      %a.color{:href => "https://www.twitter.com/", :target => "_blank"}
        %i.ion-social-twitter
    %li
      %a.color{:href => "https://www.facebook.com/", :target => "_blank"}
        %i.ion-social-facebook
    %li
      %a.color{:href => "https://www.linkedin.com/", :target => "_blank"}
        %i.ion-social-linkedin
    %li
      %a.color{:href => "https://www.pinterest.com/", :target => "_blank"}
        %i.ion-social-pinterest
    %li
      %a.color{:href => "https://plus.google.com/", :target => "_blank"}
        %i.ion-social-googleplus
    %li
      = link_to 'Logout', destroy_user_session_path, method: :delete
  %a{:href => "http://themeforest.net/user/vossendesign/portfolio", :target => "_blank"}
    %strong © Wunderkind 2016
  %p Made with love for great people.
  / Back To Top Button
  %span
    %a.scroll-top
      %i.ion-chevron-up
/ End Footer
