/ Start Header
%nav.navbar.nav-down{"data-animation" => "shrink", "data-fullwidth" => "true", "data-menu-style" => "light"}
  / Styles: light, dark, transparent, transparent-to-dark | Animation: hiding, shrink
  .container
    .navbar-header
      .container
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar.top-bar
          %span.icon-bar.middle-bar
          %span.icon-bar.bottom-bar
        %a.navbar-brand.to-top{:href => "#"}
          %img.logo-light{:alt => "#", :src => "img/assets/logo-light.png"}/
          %img.logo-dark{:alt => "#", :src => "img/assets/logo-dark.png"}/
    #navbar.navbar-collapse.collapse
      .container
        %ul.nav.navbar-nav.menu-right
          / Each section must have corresponding ID ( #hero -> id="hero" )
          %li
            %a{:href => "index.html"} Home
          %li
            %a{:href => "index.html#about"} About
          %li
            %a{:href => "index.html#services"} Services
          %li
            %a{:href => "index.html#works"} Work
          %li.dropdown.megamenu.vos
            %a.dropdown-toggle
              Elements
              %i.ion-ios-arrow-down
            %ul.dropdown-menu.fullwidth
              %li.megamenu-content.withdesc
                .col-md-3.mg-col
                  %ul
                    %li
                      %a{:href => "#elements-accordion"} Accordion
                    %li
                      %a{:href => "#elements-buttons"} Buttons
                    %li
                      %a{:href => "#elements-features"} Icon Features
                    %li
                      %a{:href => "#elements-bars"} Progress Bars
                    %li
                      %a{:href => "#elements-pricing"} Pricing Options
                    %li
                      %a{:href => "#elements-lists"} Lists
                    %li
                      %a{:href => "#elements-typography"} Typography
                .col-md-3.mg-col
                  %ul
                    %li
                      %a{:href => "#elements-tabs"} Tabs
                    %li
                      %a{:href => "#elements-circles"} Progress Circles
                    %li
                      %a{:href => "#elements-icons"} Icon Fonts
                    %li
                      %a{:href => "#elements-maps"} Google Maps
                    %li
                      %a{:href => "#elements-grid"} Grid Columns
                    %li
                      %a{:href => "#elements-countdown"} Countdowns
                    %li
                      %a{:href => "#elements-testimonials"} Testimonials
                .col-md-3.mg-col
                  %ul
                    %li
                      %a{:href => "#elements-subscribe"} Subscription
                    %li
                      %a{:href => "#elements-videos"} Video Embeds
                    %li
                      %a{:href => "#elements-twitter"} Twitter Feed
                    %li
                      %a{:href => "#elements-callouts"} Callouts
                    %li
                      %a{:href => "portfolio-contained.html"} Portfolio
                    %li
                      %a{:href => "portfolio-fullwidth.html"} Portfolio Fullwidth
                    %li
                      %a{:href => "project-wide-gallery.html"} Project Wide Gallery
                .col-md-3.mg-col
                  %ul
                    %li
                      %a{:href => "project-slides.html"} Project Slides
                    %li
                      %a{:href => "project-gallery.html"} Projects Gallery
                    %li
                      %a{:href => "project-video.html"} Projects Video
                    %li
                      %a{:href => "project-wide-slides.html"} Project Wide Slides
                    %li
                      %a{:href => "project-wide-video.html"} Project Wide Video
          %li.dropdown
            %a.dropdown-toggle
              Blog
              %i.ion-ios-arrow-down
            %ul.dropdown-menu
              %li
                %a{:href => "blog-standard.html"} Standard Layout
              %li
                %a{:href => "blog-list.html"} List Layout
              %li
                %a{:href => "blog-grid.html"} Grid Layout
              %li
                %a{:href => "blog-post-standard.html"} Standard Post
              %li
                %a{:href => "blog-post-gallery.html"} Gallery Post
              %li
                %a{:href => "blog-post-video.html"} Video Post
              %li
                %a{:href => "blog-post-fullwidth.html"} Fullwidth Post
          %li
            %a{:href => "index.html#contact"} Contact
          %li.nav-separator
          %li.nav-icon
            %a{:href => "http://facebook.com", :target => "_blank"}
              %i.ion-social-facebook
          %li.nav-icon
            %a{:href => "http://twitter.com", :target => "_blank"}
              %i.ion-social-twitter
          %li.nav-icon
            %a{:href => "http://themeforest.net/user/vossendesign/portfolio", :target => "_blank"}
              %i.ion-help-buoy
/ End Header