#onboarding{class: "background #{random_background} expanded"}
  .container.vertical-align.sign_up
    .row
      .col-md-6.col-md-push-3.form.text-center
        %h1 Saldo
        %h2= "$#{current_user.credit} MXN"
        = render 'form'
