%p#notice= notice

%p
  %b Account:
  = @bank_transfer.account
%p
  %b User:
  = @bank_transfer.user
%p
  %b Amount:
  = @bank_transfer.amount
%p
  %b Comment:
  = @bank_transfer.comment

= link_to 'Edit', edit_bank_transfer_path(@bank_transfer)
\|
= link_to 'Back', bank_transfers_path
