- flash.to_hash.each_pair do |type, message|
  %div{class: "alert alert-#{alert_type(type)}"}
    %strong= message
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
