%footer
  %container
    %logo
      = image_tag 'estudex_logo.png'
      .estudex-trademark © Estudex
    %links
      %ul
        %li
          %h1 Aprende más
        %li
          = link_to 'Home', root_path
        %li
          = link_to 'Como funciona', '#'
      %ul
        %li
          %h1 Soporte
        %li
          = link_to 'Preguntas Frecuentes', '#'
        %li
          = link_to 'Terminos y Condiciones', '#'
        %li
          = link_to 'Politicas de Privacidad', '#'
      %ul
        %li
          %h1 Mantente en Contacto
        %li
          = link_to 'Contactanos', '#'
        %li
          = link_to 'Imprint', '#'
