- if user_signed_in?
  %nav.navbar.navbar-light.bg-light
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to root_path, class: 'logo' do
          = image_tag 'blank.png', class: 'image-icon estudex'
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
        %ul.nav.navbar-nav.navbar-right
          - if !current_user.onboarding
            %li.page
              = link_to I18n.t('app.navigation.dashboard'), homeworks_path
          - if !current_user.onboarding
            %li.page
              = link_to I18n.t('app.navigation.my_homeworks'), homeworks_path(mine: true)
          - if !current_user.onboarding && current_user.consultor
            %li.page
              = link_to I18n.t('app.navigation.consultor_homeworks'), homeworks_path(consultor: true)
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = image_tag 'blank.png', class: 'profile-picture', style: "background-image: url(#{current_user.avatar.url(:thumb)})"
              %p= current_user.username
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to 'Perfil', edit_user_registration_path
              %li
                = link_to 'Metodos de Pago', edit_user_registration_path
              - if current_user.consultor
                %li
                  = link_to 'Transferir Saldo a Banco', edit_user_registration_path
              %li.divider{:role => "separator"}
              %li
                = link_to I18n.t('app.navigation.log_out'), destroy_user_session_path, data: { method: :delete }
