%h1
  El usuario
  = @homework.consultor.username
  ah entregado tu tarea

%br
%p Para hablar Descargarla has click en el siguiente link
= link_to 'Descargar Tarea', homework_documents_url(@homework)
