%h1 El Usuario ha aprobado tu tarea entrega

%h2 Por parte de Estudex te agradecemos la tarea entregada
%h4
  Hemos acreditado el dinero a tu cuenta, y puedes solicitar que sea transferido a tu cuenta
  En la siguiente liga
%br
= link_to 'Transferencias', edit_user_registration_url
