<h1>Hemos Recibido tu Pago Con Oxxo y hemos notificado al Consultor!</h1>
<h1>El consultor comenzara a hacer tu tarea en breve</h1>

<h2>Referencia <%= @order.charges.first.payment_method.reference %></h2>
