%h1
  Lo sentimos! Ha habido un error al procesar el pago de tu Tarea!
  Por favor checa los datos de tu tarjeta eh intenta de nuevo.
  El consultar no empezara a hacer tu tarea hasta que se complete el pago.

%br
%p Para cambiar el metodo de pago y reintentarlo haz click en la siguiente liga
= link_to 'Click Aquí', homework
