%h1
  El usuario
  = @request.homework.user.username
  ah aceptado tu solicitud de tarea!

%br
%p Para hablar con el usuario, haz click en la siguiente Liga
= link_to 'Ir a Solicitud', homework_request_url(@request.homework, @request)
