%h1
  El usuario
  = @request.user.username
  ah solicitado tu tarea

%br
%p Para hablar con el usuario y/o aceptar su solicitud, haz click en la siguiente Liga
= link_to 'Ir a Solicitud', homework_request_url(@request.homework, @request)
