#application{class: "background #{random_background}"}
  #default_request{"data_request" => homework_request.id}
  .container.vertical-align.sign_up
    = render 'shared/flash'
    .row.homeworks-container
      .col-md-12.form
        .requests.col-md-3
          - if homework.in_progress?
            - homework.requests.accepted.each do |request|
              = link_to homework_request_path(homework, request), class: 'request-user' do
                = image_tag 'blank.png', class: 'homework-request', style: "background-image: url(#{request.user.avatar.url(:thumb)})"
                %strong
                  %p= request.user.username
                  %p Rating: user.rating
          - else
            - collection.each do |request|
              = link_to homework_request_path(homework, request), class: 'request-user' do
                = image_tag 'blank.png', class: 'homework-request', style: "background-image: url(#{request.user.avatar.url(:thumb)})"
                %strong
                  %p= request.user.username
                %p= "Rating: #{request.user.rating}"

          = paginate collection
        .chat_area.col-md-9
          - if homework.in_progress?
            = render homework.accepted_request
          - else
            = render homework_request

          = semantic_form_for [homework, homework_request, Message.new], remote: true do |f|
            = f.input :message, label: false, input_html: { rows: '2' }
            = f.actions do
              = f.submit 'Enviar Mensaje'
          - if homework.own?(current_user)
            - if homework.requests.accepted.empty?
              .accept_homework_section
                %p= "El usuario #{homework_request.user.username} ah solicitado hacer tu tarea, da click en Aceptar para asignarlo como consultor y empezara a hacer tu tarea una vez hallamos hecho el cobro correspondiente a tu tarjeta u Oxxo"
                = link_to 'Aceptar Solicitud', accept_homework_request_path(homework, homework_request), method: :post, class: 'estudex-button request', data: { confirm: t('app.homeworks.confirm_payment') }
