#sessions{class: "background #{random_background} medium_height"}
  .container.vertical-align.sign_up
    = render 'shared/flash'
    .row.homeworks-container
      .col-md-5.col-md-push-4.form.text-center.payment_methods
        %h3 Entregables
        %table
          %thead
            %tr
              %th ID
              %th Descripción
              %th

          %tbody
            - homework.documents.deliverables.each do |document|
              %tr
                %td= document.id
                %td= document.description
                %td= link_to 'Descargar', document.file.url, download: true
