#sessions{class: "background #{random_background} medium_height"}
  .container.vertical-align.sign_up
    .row.homeworks-container
      .col-md-7.col-md-push-3.form.payment_methods.text-center
        = semantic_form_for [homework, document], html: { novalidate: false } do |f|
          = f.input :description, label: 'Descripción del archivo', input_html: { required: true, rows: 4 }
          = f.input :file, label: 'Sube el archivo de la tarea', input_html: { required: true }
          = f.actions do
            = f.action :submit, button_html: { value: 'Subir Tarea' }
