- if can_request_homework?
  = link_to I18n.t('app.homeworks.request'), homework_requests_path(homework), class: 'request-homework', data: { confirm: I18n.t('app.homeworks.request_confirmation') }, method: :post
- elsif current_user.id == homework.user.id && homework.initialized?
  = link_to I18n.t('app.homeworks.not_on_market'), publish_homework_path(homework), method: :put, class: 'request-homework green', data: { confirm: t('app.homeworks.request_publish')}
- elsif current_user.id == homework.user.id && homework.on_market? && homework.requests.empty?
  = link_to I18n.t('app.homeworks.waiting_requests'), '#', class: 'request-homework green'
- elsif homework.user_id == current_user.id && homework.on_market? && homework.requests.any?
  = link_to I18n.t('app.homeworks.see_requests'), homework_requests_path(homework), class: 'request-homework orange'
- elsif homework.in_progress? && homework.user.id == current_user.id
  = link_to I18n.t('app.homeworks.in_process'), '#', class: 'request-homework in_process'
  = link_to I18n.t('app.homeworks.chat'), homework_requests_path(homework), class: 'request-homework orange'
- elsif (homework.in_progress? || homework.in_review?) && homework.consultor_id == current_user.id
  = link_to I18n.t('app.homeworks.upload_homework'), new_homework_document_path(homework), class: 'request-homework in_process'
  = link_to I18n.t('app.homeworks.chat'), homework_requests_path(homework), class: 'request-homework orange'
- elsif (homework.in_progress? || homework.in_review?) && homework.user.id == current_user.id
  = link_to I18n.t('app.homeworks.chat'), homework_requests_path(homework), class: 'request-homework orange'
  = link_to I18n.t('app.homeworks.review_documents'), homework_documents_path(homework), class: 'request-homework in_process'
  = link_to I18n.t('app.homeworks.approve_homework'), new_homework_approval_path(homework), class: 'request-homework green', data: { confirm: I18n.t('app.homeworks.request_approve') }
- elsif homework.user_id == current_user.id && homework.requests.any? && homework.rejected?
  = link_to I18n.t('app.homeworks.payments'), edit_user_registration_path, class: 'request-homework orange centered'
  = link_to I18n.t('app.homeworks.retry'), process_payment_homework_path(homework), method: :post, class: 'request-homework red centered', data: { confirm: I18n.t('app.homeworks.wanna_retry') }
- elsif (homework.pending_payment? || homework.rejected?)
  = link_to I18n.t('app.homeworks.pending_payment'), '#', class: 'request-homework orange'
- elsif current_user.consultor && homework.requested_by?(current_user) && homework.on_market?
  = link_to homework_requests_path(homework), class: 'request-homework requested' do
    = I18n.t('app.homeworks.requested_button_html').html_safe
  = link_to I18n.t('app.homeworks.chat'), homework_requests_path(homework), class: 'request-homework orange'
- elsif homework.finalized? && homework.user.id == current_user.id
  = link_to I18n.t('app.homeworks.finalized'), '#', class: 'request-homework purple'
- elsif homework.finalized? && homework.user.id != current_user.id
  = link_to I18n.t('app.homeworks.finalized'), '#', class: 'request-homework purple'
  = link_to I18n.t('app.homeworks.chat'), homework_requests_path(homework), class: 'request-homework orange'
