= semantic_form_for(homework) do |f|
  = f.input :name
  = f.input :description, input_html: { rows: 10 }
  = f.input :due_date, as: :datetime_picker
  - if !homework.in_progress?
    = f.input :price
  = f.input :category
  = f.input :documents, as: :file, input_html: { name: 'homework[multiple_documents][]', multiple: true, id: 'multiple_documents' }

  .actions
    = f.submit
