%homework
  - if homework.user.id == current_user.id || homework.consultor.try(:id) == current_user.id
    %status{class: "#{homework.status} #{homework.requests.any?}"}
      - if homework.on_market? && homework.requests.any?
        = t('app.homeworks.with_requests')
      - else
        = homework.aasm.human_state

  = link_to homework do
    - if homework.primary_image
      = image_tag 'blank.png', class: 'image-icon main', style: "background-image: url(#{homework.primary_image.file.url(:medium)})"
    - else
      = image_tag 'blank.png', class: 'image-icon main', style: "background-image: url(#{asset_path('no_image.png')}); background-size: cover;"

    %subtext
      %h2= homework.name.truncate(27)
      %h3= I18n.t('app.homeworks.uploaded_by_title')
      %p= homework.user.username

    %subject
      = image_tag 'blank.png', class: 'image-icon subject'
      .text
        %h4= I18n.t('app.homeworks.category')
        %p= homework.category&.name

    %due_date
      = image_tag 'blank.png', class: 'image-icon clock'
      .text
        %h4= I18n.t('app.homeworks.due_date')
        %p= homework.due_date

    %budget
      = image_tag 'blank.png', class: 'image-icon wallet'
      .text
        %h4= I18n.t('app.homeworks.budget')
        %p= I18n.t('app.homeworks.price', price: homework.price)
