#application{class: "background #{random_background}"}
  .container.vertical-align.sign_up
    = render 'shared/flash'
    %div{class: "row homeworks-container #{collection.count.zero? ? 'zero' : ''}"}
      .col-md-12.form.text-center
        = link_to I18n.t('app.homeworks.new'), new_onboarding_path, class: 'add-homework'

        .homeworks
          = render collection

        = paginate collection
        %br/
