#application{class: "background #{random_background}"}
  .container.vertical-align.sign_up
    = render 'shared/flash'
    - if homework.error_message && homework.rejected? && homework.user.id == current_user.id
      %div{class: "alert alert-danger"}
        %strong Error al procesar el pago de la tarea:
        %strong= homework.error_message
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×

    .row.homeworks-container.homework-full
      .row
        .col-md-6
          .gallery
            .gallery-documents.royalSlider.rsDefault
              - if homework.documents.images.non_deliverables.any?
                - homework.documents.images.non_deliverables.each do |image|
                  = image_tag image.file.url, class: 'rsImg', 'data-rsTmb' => image.file.url(:thumb)
              - else
                = image_tag 'estudex_logo.png', class: 'rsImg'
          .actions-container
            = render 'actions'
        .col-md-6.text-left
          %homework.info-homework
            %h1= homework.name
            %h3= I18n.t('app.homeworks.uploaded_by', username: homework.user.username)

            %homework_data
              %subject
                = image_tag 'blank.png', class: 'image-icon subject'
                .text
                  %h4= I18n.t('app.homeworks.category')
                  %p= homework.category&.name

              %due_date
                = image_tag 'blank.png', class: 'image-icon clock'
                .text
                  %h4= I18n.t('app.homeworks.due_date')
                  %p= homework.due_date&.strftime('%d/%m/%Y')

              %budget
                = image_tag 'blank.png', class: 'image-icon wallet'
                .text
                  %h4= I18n.t('app.homeworks.budget')
                  %p= I18n.t('app.homeworks.price', price: homework.price)

            %p= homework.description

            %br
            %br
            %br

            - if homework.documents.non_images.non_deliverables.any?
              %homework_documents
                %h3 Documentos Importantes
                %br
                - homework.documents.non_images.non_deliverables.each do |document|
                  = link_to "- #{document.file_file_name}", document.file.url, target: '_blank', download: document.file_file_name

            - if homework.user_id == current_user.id
              = link_to I18n.t('app.homeworks.edit'), edit_homework_path(homework), class: 'edit-homework'
      .row
        .col-md-12.form.text-center
          %homework_separation
            %hr
            %h4.text-left.other-homeworks= I18n.t('app.homeworks.other_homeworks')
          .homeworks
            = render collection.last(4)
