!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8","http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %title Estudex
    = csrf_meta_tags
    = stylesheet_link_tag    'homepage_application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'homepage_application', 'data-turbolinks-track': 'reload'
    %script{src: "https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js", type: "text/javascript"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "../assets/favicon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat:400,700%7CRaleway:400,100,200,300%7CHind:400,300", :rel => "stylesheet", :type => "text/css"}/

    %body{"data-fade-in" => "true"}
      .pre-loader
      %div
        %content
          = yield
        %footer
          = render partial: 'partials/footer'
