class ConektaInit
  constructor: () ->
    Conekta.setPublicKey '<%= Settings.conekta_public_key %>'

    conektaSuccessResponseHandler = (token) ->
      $form = $('#new_card')
      $form.append $('<input type="hidden" name="payment_method[token]" id="conektaTokenId">').val(token.id)
      $('input:not([type=hidden])').remove()
      $form.get(0).submit()

    conektaErrorResponseHandler = (response) ->
      $form = $('#new_card')
      $form.find('.card-errors').text response.message_to_purchaser
      $('#new_card input[type=submit]').removeAttr('disabled')

    context = this

    $('#new_card').submit (event) ->
      event.preventDefault()
      $form = $(this)
      $form.find('button').prop 'disabled', true
      Conekta.Token.create context.token($form), conektaSuccessResponseHandler, conektaErrorResponseHandler

  token: ($form)->
    {
      "card": {
        "number": $form.find('input#card_number').val(),
        "name": $form.find('input#card_name').val(),
        "exp_year": $form.find('input#card_year').val(),
        "exp_month": $form.find('input#card_exp_month').val(),
        "cvc": $form.find('input#card_cvc').val()
      }
    }

$(() -> new ConektaInit())
