#sessions{class: "background #{random_background}"}
  .container.vertical-align.sign_up
    .row
      .col-md-4.col-md-push-4.form.text-center
        %logo
          = image_tag 'estudex_logo.png'
          %h1 Cambia tu contraseña
        %hr
        = semantic_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = f.input :reset_password_token, as: :hidden
          = f.input :password, label: 'Nueva Contraseña'
          = f.input :password_confirmation, label: 'Confirmar contraseña'
          .actions
            = f.submit 'Cambiar contraseña'
        = render "users/shared/links"
