#sessions{class: "background #{random_background}"}
  .container.vertical-align.sign_up
    .row
      .col-md-4.col-md-push-4.form.text-center
        %logo
          = image_tag 'estudex_logo.png'
          %h1 Olvidaste tu contraseña?
        = semantic_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = f.input :email
          .actions
            = f.submit 'Enviar instrucciones'
        = render "users/shared/links"
