#onboarding{class: "background #{random_background}"}
  .container.vertical-align
    .row
      .col-md-6.col-md-push-3.form.text-center
        %h1= I18n.t('app.onboarding.step_5_title')
        %br

        = link_to homeworks_path, class: 'col-md-6' do
          = image_tag 'blank.png', class: 'image-icon oxxo'
        = link_to_cards
    .row
      .col-md-6.col-md-push-3.form.text-right
        = link_to 'Regresar', :back, class: 'col-md-2 col-md-push-10 text-center estudex-button'
