#onboarding{class: "background #{random_background} expanded"}
  .container.vertical-align.sign_up
    .row
      .col-md-6.col-md-push-3.form.text-center
        %h2= I18n.t('app.onboarding.step_4_title')
        %br
        = semantic_form_for homework, url: onboarding_path(homework) do |f|
          = f.inputs do
            = f.input :name, required: true
            = f.input :description, input_html: { rows: 10, placeholder: 'Describenos lo que necesitas' }, required: true
            = f.input :due_date, as: :string, required: true, input_html: { data: { provide: 'datepicker', 'date-format' => "dd-mm-yyyy", placeholder: 'DD-MM-YYYY' }, autocomplete: 'off' }
            = f.input :price, required: true, input_html: { max: '10000', placeholder: 'Maximo $10,000 pesos' }
            = f.input :category, required: true
            = f.input :other_category, required: true, wrapper_html: { style: 'display: none;' }
          = f.actions do
            = f.submit I18n.t('app.onboarding.next')
            = f.action :cancel, label: 'Regresar'
