#onboarding{class: "background #{random_background}"}
  .container.vertical-align
    .row
      .col-md-6.col-md-push-3.form.text-center
        %h1= I18n.t('app.onboarding.step_1_title')

        = semantic_form_for homework, url: onboarding_index_path do |f|
          = f.inputs do
            = f.input :name
          = f.actions do
            = f.submit I18n.t('app.onboarding.next')
