#onboarding{class: "background #{random_background}"}
  .container.vertical-align
    .row
      .col-md-6.col-md-push-3.form.text-center
        %h2= I18n.t('app.onboarding.step_2_title')
        %br

        .hidden
          = semantic_form_for homework, url: set_main_image_onboarding_path(homework), method: :patch do |f|
            = f.inputs do
              = f.input :documents, as: :file, input_html: { name: 'homework[documents_attributes][0][file]' }
            = f.actions

        .row
          %a.col-md-6#upload_image{href: '#'} Documento, Foto, PDF

          = link_to 'Describenos tu Tarea', fourth_step_onboarding_path(homework), class: 'col-md-6'
    .row
      .col-md-6.col-md-push-3.form.text-right
        = link_to 'Regresar', :back, class: 'col-md-2 col-md-push-10 text-center estudex-button'
