#onboarding{class: "background #{random_background} expanded"}
  .container.vertical-align.sign_up
    .row
      .col-md-6.col-md-push-3.form.text-center
        %h2= I18n.t('app.onboarding.step_6_title')

        = semantic_form_for card do |f|
          .card-errors
          = f.inputs do
            .row
              .col-md-12
                = f.input :name, placeholder: 'Gordolfo Gelatino'
            .row
              .col-md-12
                = f.input :number, as: :number, placeholder: '4242424242424242'
            .row
              .col-md-4
                = f.input :cvc, as: :number, placeholder: '123', input_html: { maxlength: 4  }
              .col-md-4
                = f.input :exp_month, as: :number, placeholder: '02', input_html: { maxlength: 2  }
              .col-md-4
                = f.input :year, as: :number, placeholder: '21', input_html: { maxlength: 2  }
                = f.input :add_card_page, as: :hidden, input_html: { value: request.env['HTTP_REFERER'] }

          = f.actions do
            = f.submit I18n.t('app.onboarding.next')
            = f.action :cancel, label: 'Regresar'
