// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import 'active_admin/mixins';
@import 'active_admin/base';
@import 'active_skin';

$skinLogo: image-url('estudex_logo.png') no-repeat 0 0;
$skinActiveColor: #1075BC;
$skinHeaderBck: #193F59;
$panelHeaderBck: #1075BC;

@import "active_skin";

#header h1.site_title {
  background-size: 60% 75%;
  background-position: center;
}
