@import 'bootstrap';
@import 'bootstrap-sprockets';
@import 'formtastic-bootstrap';
@import 'bootstrap-datepicker';
@import 'realslider';
@import 'rs-default';

@import 'base';
@import 'registrations';
@import 'homeworks';
@import 'requests';
@import 'messages';
@import 'accounts';

// Todos estos estilos pueden ser overriden

html, body {
  width: 100%;
  height: 100%;
}

.logo {
  img {
    width: 200px;
    display: inline-block;
  }
}

.profile-picture {
  background-position: center;
  background-size: cover;
  background-color: #e9ec188c;
  border-radius: 50px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
}

.homework-request {
  background-position: center;
  background-size: cover;
  background-color: #e9ec188c;
  display: inline-block;
  border-radius: 50px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
}

.requests {
  min-height: 500px;
  padding-top: 15px;
  border-right: 1px solid #00000030;
}

.request-user {
  width: 100%;
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid #0000001f;
  padding-bottom: 15px;
}

.homework-request + strong {
  display: inline-block;
}

.image-icon {
  width: 100px;
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.estudex {
    background-image: image-url('estudex_logo.png');
    background-size: 65%;
  }

  &.oxxo {
    background-image: image-url('icons/oxxo.svg');
  }

  &.clock {
    background-image: image-url('icons/clock.png');
  }

  &.wallet {
    background-image: image-url('icons/wallet.png');
  }

  &.subject {
    background-image: image-url('icons/subject.png');
  }

  &.credit-card {
    background-image: image-url('icons/creditcard.png');
    background-size: contain;
    height: 50px;
    width: 200px;
  }
}

.navbar {
  margin-bottom: 0;

  li.page {
    height: 64px;
    a {
      transform: translateY(-50%);
      position: relative;
      top: 50%;
    }
  }

  .dropdown {
    width: 200px;

    .dropdown-toggle {
      p {
        display: inline-block;
      }
    }
  }
}

.homeworks-container {
  position: relative;

  h1 {
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    font-size: 25px;
    width: 135px;
    left: 5px;
    top: 0;
  }
}

.card-errors {
  color: red;
}

.alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

#application .alert + .homeworks-container {
  margin-top: 25px;
}
