%backgrounds {
  &.blue {
    background-image: image-url('backgrounds/blue.png');
    background-repeat: repeat;
    background-size: 30%;
  }

  &.green {
    background-image: image-url('backgrounds/green.png');
    background-repeat: repeat;
    background-size: 50%;
  }

  &.utensils {
    background-image: image-url('backgrounds/utensils.png');
    background-size: 40%;
    background-repeat: repeat;
  }

  &.tolga {
    background-image: image-url('backgrounds/tolga.jpg');
  }

  &.student {
    background-image: image-url('backgrounds/student.jpg');
  }

  &.library {
    background-image: image-url('backgrounds/library.jpg');
  }

  &.school {
    background-image: image-url('backgrounds/school.jpg');
  }

  &.board {
    background-image: image-url('backgrounds/board.jpg');
  }
}
