.homeworks {
  margin-top: 80px;
  text-align: center;
}

.accept_homework_section {
  display: inline-block;
  position: absolute;
  height: 65px;
  width: 100%;
  left: 0;
}

.add-homework {
  background-color: #42a9fa;
  position: absolute;
  transition: 400ms;
  font-weight: bold;
  padding: 10px;
  color: white !important;
  right: 50px;
  top: 20px;
}

.edit-homework, .request-homework {
  background-color: #42a9fa;
  transition: 400ms;
  font-weight: bold;
  padding: 10px;
  color: white !important;

  &:hover {
    background-color: darken(#42a9fa, 20%);
    text-decoration: none;
    transition: 400ms;
    color: white;
  }
}

.actions-container {
  text-align: center;
}

.request-homework {
  width: 175px;
  text-align: center;
  display: inline-block;

  &.green {
    background-color: green;
  }

  &.purple {
    background-color: purple;
  }

  &.orange {
    background-color: orange;
  }

  &.in_process {
    background-color: blue;
  }

  &.red {
    background-color: red;
  }

  &.centered {
    left: 40%;
  }
}

.request-homework + .request-homework {
  margin-left: 5px;
}

.requested {
  background-color: green;
  transition: 400ms;

  &:hover {
    background-color: green;
    transition: 400ms;
  }
}

homework_separation + .homeworks {
  margin-top: 40px;
}

homework {
  display: inline-block;
  position: relative;
  margin-bottom: 50px;
  text-align: left;
  height: 390px;
  width: 250px;

  a {
    color: #717171 !important;
    text-transform: capitalize;

    &:hover {
      text-decoration: none;
    }
  }

  img.main {
    width: 100%;
    height: 190px;
    background-size: contain;
  }

  h2 {
    font-size: 17px;
    font-weight: 300;
    margin-top: 10px;
  }

  p {
    margin-bottom: 0;
  }

  h3 {
    font-size: 13px;
    margin-bottom: 0;
    font-weight: bold;
  }

  subtext {
    display: inline-block;
    margin-bottom: 10px;
  }

  due_date, budget, subject {
    margin-bottom: 5px;
    position: relative;
    margin-top: 5px;
    display: block;
    height: 40px;

    img {
      transform: translateY(-50%);
      position: absolute;
      top: 50%;

      &.image-icon {
        background-size: contain;
      }
    }

    .text {
      margin-left: 40px;
    }
  }

  h4 {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
  }

  .image-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
  }

  .text {
    display: inline-block;
  }
}

homework + homework {
  margin-left: 20px;
}

.homeworks-container.homework-full {
  color: #717171;

  .gallery {
    padding: 20px;
  }

  .info-homework {
    padding: 40px;
    width: 100%;

    h1 {
      position: relative;
      margin-bottom: 0;
      margin-top: 0;
      width: auto;
    }

    h3 {
      text-transform: capitalize;
      font-size: 14px;
    }

    homework_data {
			border-bottom: 1px solid rgba(112, 112, 112, 0.2);
			border-top: 1px solid rgba(112, 112, 112, 0.2);
			display: inline-block;
			padding: 10px 0;
			margin: 20px 0;
			width: 100%;
    }

    subject, due_date, budget {
      display: inline-block;
      vertical-align: top;
      width: 150px;
    }
  }

  .gallery-documents {
    height: 500px;
    width: 100%;
  }
}

homework_separation {
  display: inline-block;
  margin: 0 40px;
  width: 100%;
}

#application {
  @extend %backgrounds;

  background-size: cover;
  background-repeat: no-repeat;

  .homeworks-container {
    background-color: #FFF;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #notice {
    position: absolute;
    margin: 0;
  }
}

.payment_methods {
  td, th {
    padding-right: 13px;
  }
}

.estudex-button {
  display: inline-block;
  position: relative;
  background-color: #3971f3;
  color: white !important;
  padding: 10px;
  margin-bottom: 10px;

  &.request {
    position: absolute;
    right: 0;
    top: 0;
  }
}

status {
  position: absolute;
  right: 0;
  padding: 5px;
  color: white;
  font-weight: bold;

  &.initialized {
    background-color: purple;
  }

  &.pending_payment {
    background-color: orange;
  }

  &.on_market {
    background-color: lighten(green, 10%);

    &.true {
      background-color: green;
    }
  }

  &.in_progress {
    background-color: blue;
  }

  &.rejected {
    background-color: red;
  }

  &.in_review {
    background-color: lighten(green, 20%);
  }

  &.finalized {
    background-color: black;
  }
}
