.messages
  padding-bottom: 100px!important

.messages-box 
  height: calc(100vh - 173px)
  h4
    margin-bottom: 0


.message-bubble
  max-width: 255px
  word-wrap: break-word
  line-height: 24px
  margin-left: 50px
  font-size: 13px
  margin-top: -15px

.clear
  clear: both

.from-me
  position: relative
  padding: 10px 20px
  color: white
  background-color: #00AEEF
  border-radius: 3px
  float: right

.from-me-side
  *
    float: right

  p
    margin-right: 50px

  .message-bubble
    margin-right: 50px


.from-them
  position: relative
  padding: 10px 20px
  background: #0f8404
  border-radius: 3px
  color: white
  float: left

.messages-wrapper

  .prof-pic
    width: 30px
    height: 30px
    border-radius: 50px
    background-repeat: no-repeat
    background-size: auto 40px
    background-position: 50% 50%
    margin: 0 auto
    display: block

  h5
    color: #445870
    font-size: 15px

  p
    font-size: 13px
    color: #76838F
    margin-left: 50px
    margin-bottom: 30px

