.sign_up {
  .step_1, .step_2, .step_3 {
    display: none;

    &.show {
      display: block;
    }
  }
}

.facebook-button {
  background-color: #3b5899;
  color: white !important;
  display: inline-block;
  padding: 10px;
  width: 100%;

  img {
    left: 20%;
    width: 20px;
    position: absolute;
  }

  &:hover {
    text-decoration: none;
  }

  &.blue {
    background-color: #42a9fa;
  }

  &.green {
    background-color: green;
  }
}

#sessions, #onboarding {
  height: 110%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.medium_height {
    height: 80%;
  }

  @extend %backgrounds;

  .container {
    transform: translateY(-50%);
    position: relative;
    top: 50%;
  }

  .form {
    background-color: #FFF;
    padding: 20px;

    logo {
      img {
        width: 25%;
      }
    }

    input[type=submit] {
      width: 100%;
      border: none;
      color: white;
      padding: 8px;
      background-color: #3971f3;
      display: inline-block;
    }

    .links {
      margin-top: 10px;
    }

    a {
      color: #3971f3;
    }
  }
}

#onboarding {
  height: 70%;

  .container {
    transform: translateY(-50%);
    position: relative;
    top: 40%;
  }

  &.expanded {
    height: 120%;

    .container {
      transform: translateY(-50%);
      position: relative;
      top: 50%;
    }
  }
}

footer {
  height: 250px;
  display: block;
  text-align: right;
  background-color: #424243;

  container {
    position: relative;
    text-align: center;
    max-width: 1365px;
    margin: 0 auto;
    display: block;
    height: 100%;
  }

  logo {
    top: 50%;
    text-align: center;
    position: relative;
    padding-right: 70px;
    display: inline-block;
    transform: translateY(-50%);

    .estudex-trademark {
      font-size: 13px;
      color: #cecece;
    }

    img {
      width: 200px;
    }
  }

  links {
    transform: translateY(-50%);
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 50%;
  }

  ul {
    display: inline-block;
    list-style-type: none;
    font-family: Raleway;
    vertical-align: top;
    text-align: center;

    li {
      padding-top: 5px;
    }

    h1 {
      margin: 0;
      font-size: 15px;
      font-style: normal;
      text-transform: uppercase;
      color: #cecece;
    }

    a {
      cursor: pointer;
      font-style: normal;
      color: #cecece;
    }
  }

  ul + ul {
    margin-left: 35px;
  }
}

.container.sign_up {
  min-height: 500px;
}

.homeworks-container {
  min-height: 400px;

  &.zero {
    &:after {
      content: "Ups! Aun no hay tareas!";
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      font-size: 35px;
      color: #a0a0a0;
      width: 100%;
      text-align: center;
    }
  }
}
