.chat_area {
  display: inline-block;
  min-height: 500px;

  textarea {
    border-radius: 0;
  }

  .form-group {
    margin-bottom: 0;
  }

  .messages-wrapper {
    display: inline-block;
    height: 89%;
    width: 100%;
    position: absolute;
    left: 0;

    .messages-body {
      overflow-y: scroll;
      height: 100%;
    }
  }

  .form-actions {
    display: inline-block;
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;

    input[type=submit] {
      position: relative;
      transform: translateY(-50%);
      background-color: #2b6ffc;
      height: 100%;
      color: white;
      border: none;
      top: 50%;
    }
  }

  form {
    position: absolute;
    width: 97%;
    height: 11%;
    bottom: 0;
  }
}

.homeworks-container {
  .form {
    padding: 0;
  }
}

.messages-wrapper {
  .from-me-side {
    h5 {
      margin-bottom: 15px;
      margin-right: 7px;
    }
  }
}

.accept_homework_section {
  border-bottom: 1px solid #d4d3d3;
  background-color: white;
  display: inline-block;
  position: relative;
  left: 0;

  p {
    margin: 0px;
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 42%;
    color: gray;
  }

  .request {
    right: 0;
    width: 135px;
    margin: 10px;
  }
}

.sides:not(.from-me-side) {
  .d-inline-flex {
    margin-top: 40px;
  }
}

.d-inline-flex {
  display: inline-flex !important;
}

.p-2 {
  padding: .5rem .5rem!important;

}

.align-self-center {
  align-self: center!important;
}
