!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8","http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %title Estudex
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js", type: "text/javascript"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{href: "http://fonts.googleapis.com/css?family=Montserrat:400,700%7CRaleway:400,100,200,300%7CHind:400,300", :rel => "stylesheet", :type => "text/css"}/
    %link{href: "https://use.fontawesome.com/releases/v5.3.1/css/all.css", rel: "stylesheet", type: "text/css", crossorigin: 'anonymous', integrity: 'sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU'}/
    = action_cable_meta_tag

    %body
      = render 'shared/navigation'
      = yield
      = render 'shared/footer'
