#onboarding{class: "background #{random_background} expanded"}
  .container.vertical-align.sign_up
    .row
      .col-md-6.col-md-push-3.form.text-center
        %h2= I18n.t('app.onboarding.step_6_title')
        = render 'form'
