#sessions{class: "background #{random_background}"}
  .container.vertical-align.sign_up
    = render 'shared/flash'
    .row
      .col-md-4.form.text-center
        %logo
          = image_tag 'estudex_logo.png'
          %h1 Edit #{resource_name.to_s.humanize}

        = semantic_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = f.input :email
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          = f.input :password
          = f.input :password_confirmation
          .actions
            = f.submit I18n.t('app.navigation.update')
        %br
        %p
          No estas contento? #{button_to "Cancela mi cuenta", registration_path(resource_name), data: { confirm: 'Estas seguro?' }, method: :delete}

      - if current_user.consultor
        .col-md-7.col-md-push-1.form.saldo
          %logo
            %h1 Saldo obtenido por hacer Tareas
            %h2= "$#{current_user.credit.to_f} MXN"
          - if current_user.accounts.any?
            = link_to 'Transferir a Cuenta Bancaria', new_bank_transfer_path, class: 'estudex-button'
          - elsif !current_user.credit.to_f.zero?
            %h3 Por favor da de alta una cuenta bancaria abajo para poderte transferir tus fondos

      .col-md-7.col-md-push-1.form.payment_methods
        = link_to 'Agregar Metodo de Pago', new_card_path, class: 'estudex-button'
        %table
          %thead
            %tr
              %th Nombre
              %th Ultimos 4 digitos
              %th Fecha Expiración
              %th Default
              %th Tipo
              %th
              %th

          %tbody
            - current_user.cards.map(&:last).each do |card|
              %tr
                %td= card.name
                %td= card.last4
                %td= "#{card.exp_month}/#{card.exp_year}"
                %td= card.default ? 'Si' : ''
                %td
                  = image_tag "icons/#{card.brand.downcase}.png"
                %td= link_to 'Predeterminar', make_default_card_path(card.id), method: :patch, data: { confirm: 'Seguro que quieres usar esta tarjeta como pago Predeterminado? ' }
                %td= link_to 'Borrar', card_path(card.id), method: :delete, data: { confirm: 'Seguro que deseas borrar esta tarjeta?' }

      - if current_user.consultor
        .col-md-7.col-md-push-1.form.bank_accounts
          = link_to 'Agregar Cuenta Bancaria', new_account_path, class: 'estudex-button'
          %table
            %thead
              %tr
                %th Numero de Cuenta
                %th Clabe interbancaria
                %th Banco
                %th Nombre
                %th Borrar
                %th
                %th

            %tbody
              - current_user.accounts.each do |account|
                %tr
                  %td= account.number
                  %td= account.clabe
                  %td= account.bank
                  %td= account.name
                  %td= link_to 'Editar', edit_account_path(account.id)
                  %td= link_to 'Borrar', account_path(account.id), method: :delete, data: { confirm: 'Seguro que deseas borrar esta cuenta?' }
