#sessions{class: "background #{random_background}"}
  .container.vertical-align.sign_up
    = render 'shared/flash'
    .row
      .col-md-4.col-md-push-4.form.text-center
        %logo
          = image_tag 'estudex_logo.png'
          %h1 Registrate
        %hr
        .social_links
          = link_to user_facebook_omniauth_authorize_path(consultor: params[:consultor]), class: 'facebook-button' do
            = image_tag 'icons/facebook.png'
            Ingresa con Facebook
          %br
          %hr
        = semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.input :first_name
          = f.input :last_name
          = f.input :phone
          = f.input :email, input_html: { autofocus: true }
          = f.input :password
          = f.input :password_confirmation, required: true
          = f.input :consultor, as: :hidden, input_html: { value: params[:consultor] || false }

          = f.actions do
            = f.submit I18n.t('app.onboarding.register')
